<a href="https://colab.research.google.com/github/sansilva/data_science/blob/main/analise_pense2015_amostra2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**A dados que vamos analisar nesse módulo é uma base chamada PeNSE. É a [Pesquisa Nacional da Saúde do Escolar](https://www.ibge.gov.br/estatisticas/sociais/educacao/9134-pesquisa-nacional-de-saude-do-escolar.html?=&t=o-que-e). Imagine de alguma maneira você quer entender a relação entre saúde e educação ou como o ambiente em que vivemos influência na nossa saúde. E da mesma maneira, a nossa saúde também influência na nossa educação. Se você está doente, provavelmente você não vai muito bem na escola por "n" motivos diferentes.**

In [1]:
# importamdo as principais bibliotecas
import pandas as pd
from zipfile import ZipFile

**Eu tenho no canto esquerdo da minha tela algumas opções, dentre elas a opção “Arquivos”, com um ícone de pasta. Eu vou clicar nele para abrir um pop-up, essa view diferente, onde eu tenho algumas opções na parte superior. Podemeos, por exemplo, fazer o upload de arquivos, atualizar ou posso montar o meu Drive.**

**Ao clicar "Montar Drive", ele pede para se conectar com o Google Drive, ele precisa fazer a integração entre essas duas APIs, e agora ele criou uma pasta nova nessa sessão de arquivos. Essa pasta nova chama “drive”. Agora conseguimos caminhar pela estrutura de diretórios do meu Drive.**

**Então vou clicar com o botão esquerdo, tenho a pasta “MyDrive”, vou até a pasta “módulo3”, em “módulo3” clico no toggle que temos do lado algumas opções dentro do módulo3. Dentre essas opções temos a minha pasta zip.**

**Olha só, ele dá até o tamanho, se eu ficar alguns segundos na pasta zip tem o tamanho de 37 megas. Se fôssemos subir isso para o GitHub, igual fizemos algumas vezes, essa pasta inteira, ele ia reclamar pelo tamanho. Se eu não me engano, os commits podem ser de 25 megas.**

**Agora clique na parte direita que aparecem três pontinhos, e selecione a opção “Copiar caminho”. Agora esse vai ser o caminho, esse caminho é dentro da minha pasta no Drive para o meu arquivo zip.**

In [2]:
# atribuindo arquivo zip a variável caminho
caminho = "/content/drive/MyDrive/módulo3/PeNSE_2015_AMOSTRA2.zip"

zip = ZipFile(caminho)

caminho_pasta_zipada = zip.namelist()[1]

**Então vamos dar uma olhada na célula abaixo, o que é esse nosso arquivo zip que instanciamos. Ele é um objeto daquela pasta zipada no Drive em modo leitura. Podemeos compreender alguns métodos do zipfile. Entre eles, por exemplo, eu tenho o “infolist”.**

In [3]:
zip.infolist()

[<ZipInfo filename='arquivos csv/' external_attr=0x10>,
 <ZipInfo filename='arquivos csv/PENSE_AMOSTRA2_ALUNO.CSV' compress_type=deflate external_attr=0x20 file_size=7262170 compress_size=1235667>,
 <ZipInfo filename='arquivos csv/PENSE_AMOSTRA2_ALUNOESCOLA.CSV' compress_type=deflate external_attr=0x20 file_size=11420533 compress_size=1329882>,
 <ZipInfo filename='arquivos csv/PENSE_AMOSTRA2_ESCOLA.CSV' compress_type=deflate external_attr=0x20 file_size=5000642 compress_size=114324>,
 <ZipInfo filename='arquivos sas/' external_attr=0x10>,
 <ZipInfo filename='arquivos sas/pense_amostra2_aluno.sas7bdat' compress_type=deflate external_attr=0x20 file_size=24691712 compress_size=1957530>,
 <ZipInfo filename='arquivos sas/pense_amostra2_alunoescola.sas7bdat' compress_type=deflate external_attr=0x20 file_size=45253632 compress_size=2461932>,
 <ZipInfo filename='arquivos sas/pense_amostra2_escola.sas7bdat' compress_type=deflate external_attr=0x20 file_size=18105344 compress_size=332162>,
 <ZipInfo filename='arquivos xlsx/' external_attr=0x10>,
 <ZipInfo filename='arquivos xlsx/PENSE_AMOSTRA2_ALUNO.xlsx' compress_type=deflate external_attr=0x20 file_size=11757246 compress_size=11337133>,
 <ZipInfo filename='arquivos xlsx/PENSE_AMOSTRA2_ALUNOESCOLA.xlsx' compress_type=deflate external_attr=0x20 file_size=18732739 compress_size=17064325>,
 <ZipInfo filename='arquivos xlsx/PENSE_AMOSTRA2_ESCOLA.xlsx' compress_type=deflate external_attr=0x20 file_size=7159579 compress_size=3209953>,
 <ZipInfo filename='Dicionario_PENSE_Microdados_AMOSTRA2.xls' compress_type=deflate external_attr=0x20 file_size=144896 compress_size=35737>]

**Outro método que eu posso utilizar é o namelist(), podemos chamar o namelist() e fica mais fácil. Ele nos retorna uma lista com os nomes dos arquivos e eu posso pegar o arquivo na posição “1”, no caso, que é justamente o arquivo que eu quero ler.**

In [4]:
zip.namelist()[1]

'arquivos csv/PENSE_AMOSTRA2_ALUNO.CSV'

**Foi criado uma variável chamada caminho_pasta_zipada. O caminho na pasta zipada eu quero é o zip.namelist( )[1], que é aquele arquivo PENSE_AMOSTRA2_ALUNO.CSV. E é isso que eu preciso passar para o nosso zip.open() que eu estou chamando no nosso método pd.read_csv(). Então passamos para o zip.open() o caminho_pasta_zipada.**

In [5]:
dados = pd.read_csv(zip.open(caminho_pasta_zipada), 
                    sep=";",
                    thousands=".",
                    decimal = ",")

dados.head()

   ANOPESQ  PAIS  REGEOGR  VB00004  VB01001  ...  V0008  V0041  aluno  escola  turma
0     2015    76        1        1        2  ...      4      1      1       1    296
1     2015    76        1        1        2  ...      4      1      2       1    296
2     2015    76        1        1        1  ...      4      1      3       1    296
3     2015    76        1        1        1  ...      4      1      4       1    296
4     2015    76        1        1        1  ...      4      1      5       1    296

[5 rows x 181 columns]

In [6]:
# comando linux
!ls

drive  sample_data

# **Tipos de dados**

In [7]:
dados.shape

(16556, 181)

In [8]:
dados.columns

Index(['ANOPESQ', 'PAIS', 'REGEOGR', 'VB00004', 'VB01001', 'VB01002',
       'VB01003', 'VB01004', 'VB01005', 'VB01006',
       ...
       'ESTRATO_EXP', 'ESTRATOGEOREG', 'PESO', 'V0006', 'V0007', 'V0008',
       'V0041', 'aluno', 'escola', 'turma'],
      dtype='object', length=181)

In [9]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16556 entries, 0 to 16555
Columns: 181 entries, ANOPESQ to turma
dtypes: float64(10), int64(171)
memory usage: 22.9 MB

In [10]:
dados[["VB17003",	"VB17004",	"PESO"]]

       VB17003  VB17004        PESO
0         37.1    157.0  299.735235
1         50.2    152.0  355.170081
2         48.2    161.4  299.735235
3         69.4    172.5  355.170081
4         78.9    167.5  299.735235
...        ...      ...         ...
16551     56.7    167.9  447.815539
16552     61.9    185.8  592.507440
16553     60.9    159.4  401.131512
16554     47.3    157.8  442.718091
16555     62.6    163.9  592.507440

[16556 rows x 3 columns]

In [11]:
dados.select_dtypes(include="float64")

       TEMPODESLOC  TEMPOTOTAL  TEMPOEDFIS  ...  VB17003  VB17004        PESO
0              0.0        15.0         0.0  ...     37.1    157.0  299.735235
1            120.0       510.0       260.0  ...     50.2    152.0  355.170081
2              0.0       585.0       130.0  ...     48.2    161.4  299.735235
3              0.0         0.0         0.0  ...     69.4    172.5  355.170081
4             30.0       165.0        90.0  ...     78.9    167.5  299.735235
...            ...         ...         ...  ...      ...      ...         ...
16551         30.0       400.0       110.0  ...     56.7    167.9  447.815539
16552         20.0       800.0       325.0  ...     61.9    185.8  592.507440
16553          0.0         0.0         0.0  ...     60.9    159.4  401.131512
16554         75.0       215.0        35.0  ...     47.3    157.8  442.718091
16555         50.0       485.0       110.0  ...     62.6    163.9  592.507440

[16556 rows x 10 columns]

In [12]:
dados.select_dtypes(include="int64")

       ANOPESQ  PAIS  REGEOGR  VB00004  ...  V0041  aluno  escola  turma
0         2015    76        1        1  ...      1      1       1    296
1         2015    76        1        1  ...      1      2       1    296
2         2015    76        1        1  ...      1      3       1    296
3         2015    76        1        1  ...      1      4       1    296
4         2015    76        1        1  ...      1      5       1    296
...        ...   ...      ...      ...  ...    ...    ...     ...    ...
16551     2015    76        5        1  ...      1  16552     371    117
16552     2015    76        5        1  ...      1  16553     371    117
16553     2015    76        5        1  ...      1  16554     371    117
16554     2015    76        5        1  ...      1  16555     371    117
16555     2015    76        5        1  ...      1  16556     371    117

[16556 rows x 171 columns]

In [13]:
dados['VB01001'].value_counts()

1    8287
2    8269
Name: VB01001, dtype: int64

In [15]:
# saber a porcentagem
dados['VB01001'].value_counts(normalize=True) * 100

1    50.054361
2    49.945639
Name: VB01001, dtype: float64

In [19]:
frequencia = dados['VB11007'].value_counts()
frequencia

2     6920
1     4608
4     2326
3     1807
5      714
99     181
Name: VB11007, dtype: int64

In [18]:
percentual = dados['VB11007'].value_counts(normalize=True) * 100
percentual

2     41.797536
1     27.832810
4     14.049287
3     10.914472
5      4.312636
99     1.093259
Name: VB11007, dtype: float64

In [21]:
# criando um DataFrame com o resultado da análise frequencia e percentual
distribuicao_frequencia = pd.DataFrame({"Frequência": frequencia, "Percentual": percentual})
distribuicao_frequencia

    Frequência  Percentual
2         6920   41.797536
1         4608   27.832810
4         2326   14.049287
3         1807   10.914472
5          714    4.312636
99         181    1.093259

In [23]:
respostas = {
    1: "Muito Satisfeito",
    2: "Satisfeito",
    3: "Indiferente",
    4: "Insatisfeito",
    5: "Muito Insatisfeito",
    99: "Não Informado"
}

In [24]:
respostas

{1: 'Muito Satisfeito',
 2: 'Satisfeito',
 3: 'Indiferente',
 4: 'Insatisfeito',
 5: 'Muito Insatisfeito',
 99: 'Não Informado'}

In [26]:
respostas = {
    1: "Muito Satisfeito",
    2: "Satisfeito",
    3: "Indiferente",
    4: "Insatisfeito",
    5: "Muito Insatisfeito",
    99: "Não Informado"
}

distribuicao_frequencia = pd.DataFrame({"Frequência": frequencia, "Percentual": percentual})
distribuicao_frequencia.rename(index=respostas, inplace=True)
distribuicao_frequencia.rename_axis("Sentimento em relação ao seu corpo", axis=1, inplace=True)
distribuicao_frequencia

Sentimento em relação ao seu corpo  Frequência  Percentual
Satisfeito                                6920   41.797536
Muito Satisfeito                          4608   27.832810
Insatisfeito                              2326   14.049287
Indiferente                               1807   10.914472
Muito Insatisfeito                         714    4.312636
Não Informado                              181    1.093259